pre { display: none; }

html, body {
	height: 100%;
	font-size: 16px;
	font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
	line-height: 1.5
	}
	
#header {
	display:none;
	width: 740px;
	height: 155px;
	background: transparent url('/images/header.png') no-repeat;
	margin: 0 auto;
	}
	
#container {
	width: 700px;
	margin: 0 auto;
	padding: 20px;
	}

#main {
	width: 980px;
	height: 100% !important;
	margin: 0 auto;
	position: relative;
	}
	
a {
	color: #06C;
	}
	
a:hover {
	text-decoration: none;
	}
	
h1 {
	font-size: 24px;
	}
	
label {
	font-weight: bold;
	}
	
/* 2 Column Basic Layout */	

.left {
	width: 460px;
	float: left;
	}
	
/* Flash */

.flash {
	background-color: #fffa7f;
	text-align: center;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	margin: 5px auto -20px;
	padding: 5px;
	color: #666;
	z-index: 1;
}

#flash {
	margin-bottom: 5px;
	}

.icon {
	margin: 0 auto;
	}
	
.icon img {
	display:block;
	margin: 0 auto;
	z-index: -1;
	position: relative;
	}

.field_with_errors input {
	border: 3px solid #b50000;
	}
	
.field_with_errors label {
	font-style: italic;
	}
	
#error-list {
	float: right;
	width: 250px;
	margin-top: 40px;
	margin-right: 20px;
	}
	
ul#errors li {
	font-size: 12px;
	color: #b50000;
	margin-bottom: 5px;
	}

/* Edit forms */

form input, form textarea {
	margin: 0 0 .5em;
	}
	
form input {
	width: 450px;
	font-size: 16px;
	padding: 5px;
	}
	
form textarea {
	width: 450px;
	height: 300px;
	font-size: 13px;
	padding: 5px;
	}
	
form select {
	font-size: 16px;
	margin-left: 5px;
	}
	
/* Signup Page */

#signup {
	position: relative;
	}

#signup .icon {
	margin-top: -120px;
	}
	
#signup form input#user_submit {
	width: 122px;
	height: 42px;
	float: right;
	margin-top: 20px;
	background: transparent url('/images/signup-button.png') no-repeat;
	border: none 0px;
	padding: 0;
	text-indent: -9999px;
	}
	
#signup form input#user_submit:hover {
	background: transparent url('/images/signup-button.png') 0px -45px no-repeat;
	}

#signup form input#user_submit:active {
	background: transparent url('/images/signup-button.png') 0px -90px no-repeat;
	}

/* Signin Page */

#login {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 30%;
	width: 50%;
	margin: -40% 0 0 -25%;
	font-size: 16px;
	}
	
form { 
	display: block;
	}
	
#login form, #signup form {
	width: 376px;
	margin: 20px auto 0;
	}

#login form input, #signup form input {
	font-size: 24px;
	padding: 5px;
	width: 363px;
	}
	
#session_submit {
	height: 1px;
	width: 1px;
	margin-left: -9999px;
}

#signup-message {
	width: 376px;
	margin: 0px auto;
	}
	
/* Editing posts */

form.edit_post input#post_submit {
	width: 135px;
	height: 42px;
	float: right;
	background: transparent url('/images/save-changes-button.png') no-repeat;
	text-indent: -9999px;
	border: 0 none;
	margin: -35px 0 0;
	padding: 0;
	}

form.edit_post input#post_submit:hover {
	background: transparent url('/images/save-changes-button.png') 0 -45px no-repeat;
	}

form.edit_post input#post_submit:active {
	background: transparent url('/images/save-changes-button.png') 0 -90px no-repeat;
	}
	
/* Creating posts */
	form.new_post #publish-button, form.new_post #draft-button {
		
	}
	
	form.new_post #publish-button input#post_submit, form.new_post #draft-button input#post_submit {
		width: 135px;
		height: 40px;
		float: right;
		margin-left: 10px;
		margin-top: 10px !important;
	}
		


/* Sidebar */

#sidebar {
	width: 220px;
	float: left;
	margin-left: 20px;
	}


























