pre {
	display: none;
	}
	
body {
	font-size: 16px;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	line-height: 1.5;
	margin: 0;
	}
	
#main {
	width: 880px;
	margin: 20px auto;
	}
	
a {
	text-decoration: none;
	color: #b50000;
	}
	
a:hover {
	text-decoration: underline;
	}
	
a:visited {
	color: #b50000;
	}

span.grey {
	color: #8f8f8f;
	}
	
/* Header */

#header {
	height: 140px;
	margin: 0;
	border-top: 10px solid #b50000;
	}
	
#header-inner {
	height: 100%;
	width: 880px;
	margin: 0 auto;
	}

#blog-logo {
	width: 400px;
	height: 100%;
	float: left;
	background: transparent url('/images/logo.png') -45px no-repeat;
	}
	
#blog-logo a {
	display: block;
	margin: 30px 0 0 20px;
	height: 80px;
	width: 370px;
	text-indent: -9999px;
	}
	
#navbar {
	width: 350px;
	margin-left: 20px;
	float: left;
	font-size: 15px;
	font-weight: bold;
	margin-top: 58px;
	}
	
#navbar a {
	display: block;
	margin-right: 15px;
	float: left;
	}
	
/* Footer */

#footer {
	width: 880px;
	height: 50px;
	margin: 50px auto 0;
	text-align: center;
	border-top: 1px solid #BBB;
	padding-top: 30px;
	}
	
/* Flash */

.flash {
	background-color: #fffa7f;
	text-align: center;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	margin: 5px auto -20px;
	padding: 5px;
	color: #666;
	position: relative;
	z-index: 1;
}

.no-pull {
	margin-bottom: 5px;
	}
	
/* Error list */

.field_with_errors input, .field_with_errors textarea {
	border: 3px solid #b50000;
	}
	
.field_with_errors label {
	font-style: italic;
	}
	
#error_list {
	float: right;
	width: 250px;
	margin-top: 40px;
	margin-right: 20px;
	}
	
ul#errors li {
	font-size: 12px;
	color: #b50000;
	margin-bottom: 5px;
	}

/* Forms */

form {
	width: 500px;
	}

form label {
	font-weight: bold;
	}

form input, form textarea {
	margin: 0 0 .5em;
	border: 1px solid #BBB;
	}
	
form input {
	width: 490px;
	font-size: 16px;
	padding: 5px;
	}
	
form textarea {
	width: 490px;
	height: 300px;
	font-size: 13px;
	padding: 5px;
	}
	
input:focus, textarea:focus {
	outline: 0;
	background-color: #EFEFEF;
	}
	
form select {
	font-size: 16px;
	margin-left: 5px;
	}
	
.actions input {
	background-color: #017001;
	color: #FFF;
	width: 150px !important;
	float: right;
	margin-left: 10px;
	font-size: 16px !important;
	}

.actions #draft-button input {
	background-color: #e37204;
	}
	
.actions input:hover {
	background-color: #014D01;
	}
		
.actions #draft-button input:hover {
	background-color: #e39c04;
	}

/* Signin, Signup */

#signin, #signup {
	margin: 90px auto 0;
	width: 376px;
	}
	
#signup {
	position: relative;
	z-index: 0;
	margin-top: -120px;
	}
	
#signin form, #signup form {
	width: 376px;
	margin-top: 10px;
	}
	
#signin form input, #signup form input {
	width: 363px;
	font-size: 24px;
	}

#signup form .actions input {
	margin-top: 20px;
	}
	
/* Signin */

#session_submit {
	height: 1px !important;
	width: 1px !important;
	margin-left: -9999px !important;
	float: none !important;
	}
	
#signup-message {
	margin-top: -10px;
	}
	
/* Signup */

/* #signup form input#user_submit {
	width: 122px;
	height: 42px;
	font-size: 16px;
	float: right;
	margin-top: 20px;
	background: transparent url('/images/signup-button.png') no-repeat;
	border: none 0px;
	padding: 0;
	text-indent: -9999px;

	}
	
#signup form input#user_submit:hover {
	background: transparent url('/images/signup-button.png') 0px -45px no-repeat;
	}

#signup form input#user_submit:active {
	background: transparent url('/images/signup-button.png') 0px -90px no-repeat;
	}

*/

/* 2-column layout */

.left {
	width: 500px;
	margin: 0 10px;
	padding: 0 20px;
	float: left;
	}

#sidebar {
	width: 260px;
	padding: 20px;
	margin: 10px;
	float: left;
	}
	
/* Blog */

.blog, .single { 
	margin: 20px;
	width: 840px;
	}
	
.post {
	margin-bottom: 50px;
	}
	
h1.post-title {
	display: block;
	margin: 0 10px;
	width: 500px;
	}
	
.post-body {
	margin: 0;
	}
	
.post-content {
	width: 500px;
	margin: 0 10px;
	float: left;
	}
	
.meta {
	width: 250px;
	padding-left: 50px;
	margin: 15px 10px;
	float: left;
	}

.meta-inner {
	padding: 20px;
	border-top: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	font-size: 14px;
	}
	
.post-content h2 {
	font-size: 1.2em;
	}
	
/* Control Panel */

#header.cpanel {
	border-top: 0 none;
	height: 120px;
	}

#cpanel-logo {
	width: 376px;
	height: 100%;
	margin: 0 auto;
	background: transparent url('/images/cpanel-logo.png') 0 -110px no-repeat;
	}

.left h1 {
	margin: 0 0 10px;
	}
	
#sidebar ul {
	list-style-type: none;
	font-size: 18px;
	}
	
#users-list, #posts-list {
	list-style-type: none;
	padding: 0;
	}

#posts-list {
	margin-left: -10px;
	}
	
#users-list li, #posts-list li {
	padding: 10px 0;
	border-bottom: 1px dotted #BBB;
	}
	
#posts-list li {
	padding: 20px 0 20px 10px;
	}
	
#posts-list li.draft {
	background-color: #EFEFEF;
	}
	
#posts-list h2 {
	margin:0;
	}
	
	
/* Editing Posts */
/*
form.edit_post input#post_submit {
	width: 135px;
	height: 42px;
	float: right;
	background: transparent url('/images/save-changes-button.png') no-repeat;
	text-indent: -9999px;
	border: 0 none;
	margin: -25px 0 0;
	padding: 0;
	}

form.edit_post input#post_submit:hover {
	background: transparent url('/images/save-changes-button.png') 0 -45px no-repeat;
	}

form.edit_post input#post_submit:active {
	background: transparent url('/images/save-changes-button.png') 0 -90px no-repeat;
	}
*/
