<div class="post">
	<section>
		<h1 class="post-title"><%= link_to post.title, post.get_path %></h1>
		<%= render 'posts/post_innards', :post => post %>
	</section>
	<div style="clear:both"></div>
</div>